<main>
    <div class="container">
        <div>
            <button>
                <div>Cтиль для всей квартиры</div>
                <div>Ligth</div>
                <svg>
                    <path d="M15.88 9.29L12 13.17 8.12 9.29a.9959.9959 0 00-1.41 0c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"></path>
                </svg>
            </button>
            <button>
                <div>Cтиль для кухни</div>
                <div>Ligth</div>
                <svg>
                    <path d="M15.88 9.29L12 13.17 8.12 9.29a.9959.9959 0 00-1.41 0c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"></path>
                </svg>
            </button>
            <button>
                <div>Двери для всей квартиры</div>
                <div>Jeld Wen Style Белая трехфиленчатая</div>
                <svg>
                    <path d="M15.88 9.29L12 13.17 8.12 9.29a.9959.9959 0 00-1.41 0c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"></path>
                </svg>
            </button>
            <button>
                <div>Пол для всей квартиры</div>
                <div>Ламинат Арт. 239488 Дуб Бруклин белый</div>
                <svg>
                    <path d="M15.88 9.29L12 13.17 8.12 9.29a.9959.9959 0 00-1.41 0c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"></path>
                </svg>
            </button>
            <button>
                <div>Цвет стен для всей квартиры</div>
                <div>Арт. F499</div>
                <svg>
                    <path d="M15.88 9.29L12 13.17 8.12 9.29a.9959.9959 0 00-1.41 0c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"></path>
                </svg>
            </button>
        </div>
        <div class="render_wrapper">
            <div>
                <img class="render" src="image/door.png" alt="двери">
                <img class="render" src="image/floor.png" alt="пол">
                <img class="render" src="image/walls.png" alt="стены">
            </div>
            <div class="room_names">
                <div class="room_name room_name_active">Кухня-столовая 1</div>
                <div class="room_name">Спальня 1</div>
                <div class="room_name">Ванна 1</div>
            </div>
            <div class="btns_view">
                <button class="button_view button_view_active">Фото</button>
                <button class="button_view">3D</button>
                <button class="button_view">План</button>
            </div>
        </div>
        <div class="down_panel">
            <div class="room_parameters">
                <div>
                    <button class="room_parameter">
                        <div class="parameter_name">Напольная плитка для ванной/санузла</div>
                        <div class="parameter_value">Арт. 1220 серый</div>
                        <svg clas="dropdown-list-icon">
                            <path d="M15.88 9.29L12 13.17 8.12 9.29a.9959.9959 0 00-1.41 0c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"></path>    
                        </svg>
                    </button>
                </div>
                <div>
                    <button class="room_parameter">
                        <div class="parameter_name">Ванна/душ</div>
                        <div class="parameter_value">Душевое ограждение</div>
                        <svg clas="dropdown-list-icon">
                            <path d="M15.88 9.29L12 13.17 8.12 9.29a.9959.9959 0 00-1.41 0c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"></path>    
                        </svg>
                    </button>
                </div>
                <div>
                    <button class="room_parameter">
                        <div class="parameter_name">Настенная плитка</div>
                        <div class="parameter_value">Арт. 5009 белый</div>
                        <svg clas="dropdown-list-icon">
                            <path d="M15.88 9.29L12 13.17 8.12 9.29a.9959.9959 0 00-1.41 0c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"></path>    
                        </svg>
                    </button>
                </div>
                <div>
                    <button class="room_parameter">
                        <div class="parameter_name">Акцент</div>
                        <div class="parameter_value">Арт.5009 белый</div>
                        <svg clas="dropdown-list-icon">
                            <path d="M15.88 9.29L12 13.17 8.12 9.29a.9959.9959 0 00-1.41 0c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"></path>    
                        </svg>
                    </button>
                </div>
            </div>
            <div>
                <button class="previous">
                    <div>Кухня-столовая 1</div>
                    <svg><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path></svg> 
                </button>
                <button class="finish">
                    <a href="/viewingSelected">
                        <div>Просмотр и завершение</div>
                        <svg><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg> 
                    </a>
                </button>
            </div>
        </div>
    </div>
</main>