<main>
    <div class="container">
        <div>
            <div class="rooms_finishing">
                <div>Отделка помещений</div>
                <div>Кухня-столовая 1</div>
                <div>Спальня 1</div>
            </div>
            <div class="materials">
                <div>Материалы</div>
                <div>Пол для всей квартиры</div>
                <div>
                    <div>
                        Настенная плитка
                    </div> 
                    <button>Показать все</button>
                    <button>Показать меньше</button>
                </div>
            </div>
        </div>
        <ul class="package_infos">
            <li>
                <div class="package_info">
                    <div>
                        <div>Start 1</div>
                        <div><span class="package_price">558210</span></div>
                        <img src="image/PackageIcon.jpeg" alt="">
                        <p>Отделка ванной комнаты и СУ. В стоимость включены материалы и работа.</p>
                        <button>Выбрать</button>
                    </div>
                    <div>
                        <div>-</div>
                        <div>
                            <svg>
                                <path class="availible" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div>
                        <div>
                            -
                        </div>
                        <div>
                            <img class="img_attribute" src="image/attribute1.png" alt="">
                            <img class="img_attribute" src="image/attribute2.png" alt="">
                            <img class="img_attribute" src="image/attribute3.png" alt="">
                            <img class="img_attribute" src="image/attribute4.png" alt="">
                            <img class="img_attribute" src="image/attribute5.png" alt="">
                        </div>
                    </div>
                    <button>Выбрать</button>
                </div>
            </li>
        </ul>
        <button>
            <a href="/materials">Продолжить</a>
        </button>
    </div>
</main>